.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header_container {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.header_title {
  font-size: 2rem;
  flex: 1;
  text-align: center;
  margin: 0;
}
.header_nav {
}
.header_hamburguer {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-direction: column;
}
.header_hamburguer li {
  width: 1.5em;
  height: 0.3em;
  margin-bottom: 0.1em;
  border-radius: 84px;
}

.header_list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.burguericon {
  font-size: 1.5rem;
}
.header_nav {
  display: none;
}
.header_list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  letter-spacing: 0.5px;
}

.header_list a {
  transition: all ease 0.5s;
  text-decoration: none;
  color: white;
}

.header_list li:hover a {
  color: #9d0000;
}

@media only screen and (min-width: 650px) {
  .header,
  .header_list {
    flex-direction: row;
  }
  .header {
    align-items: center;
    justify-content: space-between;
  }
  .burguericon {
    display: none;
  }
  .header_container {
    margin-right: 1em;
  }

  .header_nav {
    display: block;
    flex: 1;
  }

  .header_list {
    justify-content: space-between;
  }

  .header_list li:hover {
    background-color: transparent;
  }
}

@media only screen and (min-width: 768px) {
  .header_title {
    text-align: left;
  }

  .header_container {
    flex: 1 1 auto;
  }
  .header_nav {
    flex: 1.5 1 auto;
  }
}
