.section {
  padding: 1em 0;
}

.news p {
  clear: right;
}


.news_element {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  min-height: 400px;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.75);
  border-bottom: 2px solid white;
  border-top: 2px solid white;

}

.news_element p {
  width: 90%;
}
/* .other_releases_grid_anchor{
  background: linear-gradient(to right, red, purple);
} */
.other_releases_grid_img{
  max-height: initial !important;
  transition: transform ease-in .3s;
  border-radius: 3px;

}
.other_releases_grid_img:hover{
  transform: scale(1.05);
  box-shadow: 0 0 4px #ff253a;
}

.other_releases_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 1em;
  margin: 0 auto;
}

@media only screen and (min-width: 650px) {
  .other_releases_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1em;
    margin: 0 auto;
  }

}

@media only screen and (min-width: 550px) {
  .other_releases_grid_img:hover{
    transform: scale(1.1);
    box-shadow: 0 0 4px #ff253a;
  }
}
